<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sherlockshi.rxjavabestpractise">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".base.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 1. 创建操作 start -->
        <activity android:name=".activity.category1_creating_observables.Category1_CreatingObservablesActivity"
            android:label="@string/activity_main_1_creating_observables"
            android:parentActivityName=".base.MainActivity">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator1CreateActivity"
            android:label="@string/activity_category1_creating_observables_1_create">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator2DeferActivity"
            android:label="@string/activity_category1_creating_observables_2_defer">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator3_1EmptyActivity"
            android:label="@string/activity_category1_creating_observables_31_empty">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator3_2NeverActivity"
            android:label="@string/activity_category1_creating_observables_32_never">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator3_3ThrowActivity"
            android:label="@string/activity_category1_creating_observables_33_throw">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator4FromActivity"
            android:label="@string/activity_category1_creating_observables_4_from">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator5IntervalActivity"
            android:label="@string/activity_category1_creating_observables_5_interval">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator6JustActivity"
            android:label="@string/activity_category1_creating_observables_6_just">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator7RangeActivity"
            android:label="@string/activity_category1_creating_observables_7_range">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator8RepeatActivity"
            android:label="@string/activity_category1_creating_observables_8_repeat">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator9StartActivity"
            android:label="@string/activity_category1_creating_observables_9_start">
        </activity>

        <activity android:name=".activity.category1_creating_observables.Category1Operator10TimerActivity"
            android:label="@string/activity_category1_creating_observables_10_timer">
        </activity>
        <!-- 1. 创建操作 end -->

        <!-- 2. 变换操作 start -->
        <activity android:name=".activity.category2_transforming_observables.Category2_TransformingObservablesActivity"
            android:label="@string/activity_main_2_transforming_observables">
        </activity>

        <activity android:name=".activity.category2_transforming_observables.Category2Operator1MapActivity"
            android:label="@string/activity_category2_transforming_observables_1_map">
        </activity>

        <activity android:name=".activity.category2_transforming_observables.Category2Operator2FlatMapActivity"
            android:label="@string/activity_category2_transforming_observables_2_flatmap">
        </activity>

        <activity android:name=".activity.category2_transforming_observables.Category2Operator3ScanActivity"
            android:label="@string/activity_category2_transforming_observables_3_scan">
        </activity>

        <activity android:name=".activity.category2_transforming_observables.Category2Operator4GroupByActivity"
            android:label="@string/activity_category2_transforming_observables_4_groupby">
        </activity>

        <activity android:name=".activity.category2_transforming_observables.Category2Operator5BufferActivity"
            android:label="@string/activity_category2_transforming_observables_5_buffer">
        </activity>

        <activity android:name=".activity.category2_transforming_observables.Category2Operator6WindowActivity"
            android:label="@string/activity_category2_transforming_observables_6_window">
        </activity>
        <!-- 2. 变换操作 end -->

        <!-- 3. 过滤操作 start -->
        <activity android:name=".activity.category3_filtering_observables.Category3_FilteringObservablesActivity"
            android:label="@string/activity_main_3_filtering_observables">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator1FilterActivity"
            android:label="@string/activity_category3_filtering_observables_1_filter">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator2TakeLastActivity"
            android:label="@string/activity_category3_filtering_observables_2_take_last">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator3LastActivity"
            android:label="@string/activity_category3_filtering_observables_3_last">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator4SkipActivity"
            android:label="@string/activity_category3_filtering_observables_4_skip">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator5SkipLastActivity"
            android:label="@string/activity_category3_filtering_observables_5_skip_last">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator6TakeActivity"
            android:label="@string/activity_category3_filtering_observables_6_take">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator7FirstActivity"
            android:label="@string/activity_category3_filtering_observables_7_first">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator8ElementAtActivity"
            android:label="@string/activity_category3_filtering_observables_8_element_at">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator9SampleActivity"
            android:label="@string/activity_category3_filtering_observables_9_sample">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator10DebounceActivity"
            android:label="@string/activity_category3_filtering_observables_10_debounce">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator11DistinctActivity"
            android:label="@string/activity_category3_filtering_observables_11_distinct">
        </activity>

        <activity android:name=".activity.category3_filtering_observables.Category3Operator12IgnoreElementsActivity"
            android:label="@string/activity_category3_filtering_observables_12_ignore_elements">
        </activity>
        <!-- 3. 过滤操作 end -->

        <!-- 4. 组合操作 start -->
        <activity android:name=".activity.category4_combining_observables.Category4_CombiningObservablesActivity"
            android:label="@string/activity_main_4_combining_observables">
        </activity>

        <activity android:name=".activity.category4_combining_observables.Category4Operator1StartWithActivity"
            android:label="@string/activity_category4_combining_observables_1_start_with">
        </activity>

        <activity android:name=".activity.category4_combining_observables.Category4Operator2MergeActivity"
            android:label="@string/activity_category4_combining_observables_2_merge">
        </activity>

        <activity android:name=".activity.category4_combining_observables.Category4Operator3ZipActivity"
            android:label="@string/activity_category4_combining_observables_3_zip">
        </activity>

        <activity android:name=".activity.category4_combining_observables.Category4Operator4AndThenWhenActivity"
            android:label="@string/activity_category4_combining_observables_4_and_then_when">
        </activity>

        <activity android:name=".activity.category4_combining_observables.Category4Operator5CombineLatestActivity"
            android:label="@string/activity_category4_combining_observables_5_combine_latest">
        </activity>

        <activity android:name=".activity.category4_combining_observables.Category4Operator6JoinActivity"
            android:label="@string/activity_category4_combining_observables_6_join">
        </activity>

        <activity android:name=".activity.category4_combining_observables.Category4Operator7SwitchActivity"
            android:label="@string/activity_category4_combining_observables_7_switch">
        </activity>
        <!-- 4. 组合操作 end -->

        <!-- 5. 错误处理 start -->
        <activity android:name=".activity.category5_error_handling_operators.Category5_ErrorHandlingOperatorsActivity"
            android:label="@string/activity_main_5_error_handling_operators">
        </activity>

        <activity android:name=".activity.category5_error_handling_operators.Category5Operator1_1OnErrorReturnActivity"
            android:label="@string/activity_category5_error_handling_operators_1_1_on_error_return">
        </activity>

        <activity android:name=".activity.category5_error_handling_operators.Category5Operator1_2OnErrorResumeNextActivity"
            android:label="@string/activity_category5_error_handling_operators_1_2_on_error_resume_next">
        </activity>

        <activity android:name=".activity.category5_error_handling_operators.Category5Operator1_3OnExceptionResumeNextActivity"
            android:label="@string/activity_category5_error_handling_operators_1_3_on_exception_resume_next">
        </activity>

        <activity android:name=".activity.category5_error_handling_operators.Category5Operator2RetryActivity"
            android:label="@string/activity_category5_error_handling_operators_2_retry">
        </activity>
        <!-- 5. 错误处理 end -->

        <!-- 6. 辅助操作 start -->
        <activity android:name=".activity.category6_observable_utility_operators.Category6_ObservableUtilityOperatorsActivity"
            android:label="@string/activity_main_6_observable_utility_operators">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator1MaterializeActivity"
            android:label="@string/activity_category6_observable_utility_operators_1_materialize">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator2DematerializeActivity"
            android:label="@string/activity_category6_observable_utility_operators_2_dematerialize">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator3TimestampActivity"
            android:label="@string/activity_category6_observable_utility_operators_3_timestamp">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator4SerializeActivity"
            android:label="@string/activity_category6_observable_utility_operators_4_serialize">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator5ObserveOnActivity"
            android:label="@string/activity_category6_observable_utility_operators_5_observe_on">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator6SubscribeActivity"
            android:label="@string/activity_category6_observable_utility_operators_6_subscribe">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator7SubscribeOnActivity"
            android:label="@string/activity_category6_observable_utility_operators_7_subscribe_on">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator8DelayActivity"
            android:label="@string/activity_category6_observable_utility_operators_8_delay">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator9TimeIntervalActivity"
            android:label="@string/activity_category6_observable_utility_operators_9_time_interval">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator10TimeoutActivity"
            android:label="@string/activity_category6_observable_utility_operators_10_timeout">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator11UsingActivity"
            android:label="@string/activity_category6_observable_utility_operators_11_using">
        </activity>

        <activity android:name=".activity.category6_observable_utility_operators.Category6Operator12DoActivity"
            android:label="@string/activity_category6_observable_utility_operators_12_do_on_each">
        </activity>
        <!-- 6. 辅助操作 end -->

        <!-- 7. 条件和布尔操作 start -->
        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7_ConditionalAndBooleanOperatorsActivity"
            android:label="@string/activity_main_7_conditional_and_boolean_operators">
        </activity>

        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7Operator1AmbActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_1_amb">
        </activity>

        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7Operator2DefaultIfEmptyActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_2_default_if_empty">
        </activity>

        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7Operator3SkipUntilActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_3_skip_until">
        </activity>

        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7Operator4SkipWhileActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_4_skip_while">
        </activity>

        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7Operator5TakeUntilActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_5_take_until">
        </activity>

        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7Operator6TakeWhileActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_6_take_while">
        </activity>

        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7Operator7AllActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_7_all">
        </activity>

        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7Operator8ContainsActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_8_contains">
        </activity>

        <activity android:name=".activity.category7_conditional_and_boolean_operators.Category7Operator9SequenceEqualActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_9_sequence_equal">
        </activity>
        <!-- 7. 条件和布尔操作 end -->

        <!-- 8. 算术和聚合操作 start -->
        <activity android:name=".activity.category8_mathematical_and_aggregate_operators.Category8_MathematicalAndAggregateOperatorsActivity"
            android:label="@string/activity_main_8_mathematical_and_aggregate_operators">
        </activity>

        <activity android:name=".activity.category8_mathematical_and_aggregate_operators.Category8Operator1AverageActivity"
            android:label="@string/activity_category8_mathematical_and_aggregate_operators_1_average">
        </activity>

        <activity android:name=".activity.category8_mathematical_and_aggregate_operators.Category8Operator2MaxActivity"
            android:label="@string/activity_category8_mathematical_and_aggregate_operators_2_max">
        </activity>

        <activity android:name=".activity.category8_mathematical_and_aggregate_operators.Category8Operator3MinActivity"
            android:label="@string/activity_category8_mathematical_and_aggregate_operators_3_min">
        </activity>

        <activity android:name=".activity.category8_mathematical_and_aggregate_operators.Category8Operator4SumActivity"
            android:label="@string/activity_category8_mathematical_and_aggregate_operators_4_sum">
        </activity>

        <activity android:name=".activity.category8_mathematical_and_aggregate_operators.Category8Operator5ConcatActivity"
            android:label="@string/activity_category8_mathematical_and_aggregate_operators_5_concat">
        </activity>

        <activity android:name=".activity.category8_mathematical_and_aggregate_operators.Category8Operator6CountActivity"
            android:label="@string/activity_category8_mathematical_and_aggregate_operators_6_count">
        </activity>

        <activity android:name=".activity.category8_mathematical_and_aggregate_operators.Category8Operator7ReduceActivity"
            android:label="@string/activity_category8_mathematical_and_aggregate_operators_7_reduce">
        </activity>
        <!-- 8. 算术和聚合操作 end -->

        <!-- 9. 反压操作 start -->
        <activity android:name=".activity.category9_backpressure_operators.Category9_BackpressureOperatorsActivity"
            android:label="@string/activity_main_9_backpressure_operators">
        </activity>

        <activity android:name=".activity.category9_backpressure_operators.Category9Operator1OnBackpressureBufferActivity"
            android:label="@string/activity_category9_backpressure_operators_1_on_backpressure_buffer">
        </activity>

        <activity android:name=".activity.category9_backpressure_operators.Category9Operator2OnBackpressureDropActivity"
            android:label="@string/activity_category9_backpressure_operators_2_on_backpressure_drop">
        </activity>

        <activity android:name=".activity.category9_backpressure_operators.Category9Operator3OnBackpressureLatestActivity"
            android:label="@string/activity_category9_backpressure_operators_3_on_backpressure_latest">
        </activity>
        <!-- 9. 反压操作 end -->

        <activity android:name=".activity.category10_connectable_observable_operators.Category10_ConnectableObservableOperatorsActivity"
            android:label="@string/activity_main_10_connectable_observable_operators">
        </activity>

        <activity android:name=".activity.category11_operators_to_convert_observables.Category11_OperatorsToConvertObservablesActivity"
            android:label="@string/activity_main_11_operators_to_convert_observables">
        </activity>
    </application>

</manifest>